body {
  font-family: Arial, sans-serif;
  background-color: #323232;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.quote {
  font-size: 1.3em;
}

.quote-text {
  font-style: italic;
}

.quote-text::before,
.quote-text::after {
  content: '"';
}

.quote-author {
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}

.btn-danger:hover {
  background-color: red;
  color: white
}


.star-icon {
  font-size: 30px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: rgb(199, 199, 199);
  width: 25%;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.favorite-card-content {
  flex: 1;
}

.favorite-card-author {
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}